---
http_interactions:
- request:
    method: get
    uri: http://us.battle.net/api/sc2/ladder/148200
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"ladderMembers\" : [ {\n    \"character\" : {\n      \"id\"
        : 4135344,\n      \"realm\" : 1,\n      \"displayName\" : \"CMStormPolt\",\n
        \     \"clanName\" : \"\",\n      \"clanTag\" : \"\",\n      \"profilePath\"
        : \"/profile/4135344/1/CMStormPolt/\"\n    },\n    \"joinTimestamp\" : 1367996719,\n
        \   \"points\" : 2016.0,\n    \"wins\" : 113,\n    \"losses\" : 30,\n    \"highestRank\"
        : 1,\n    \"previousRank\" : 2,\n    \"favoriteRaceP1\" : \"TERRAN\"\n  },
        {\n    \"character\" : {\n      \"id\" : 3152782,\n      \"realm\" : 1,\n
        \     \"displayName\" : \"Apocalypse\",\n      \"clanName\" : \"IvDgaming\",\n
        \     \"clanTag\" : \"IvD\",\n      \"profilePath\" : \"/profile/3152782/1/Apocalypse/\"\n
        \   },\n    \"joinTimestamp\" : 1369001397,\n    \"points\" : 2011.0,\n    \"wins\"
        : 145,\n    \"losses\" : 49,\n    \"highestRank\" : 1,\n    \"previousRank\"
        : 3,\n    \"favoriteRaceP1\" [...]
