---
http_interactions:
- request:
    method: get
    uri: http://us.battle.net/api/sc2/ladder/grandmaster
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"ladderMembers\" : [ {\n    \"character\" : {\n      \"id\"
        : 2778732,\n      \"realm\" : 1,\n      \"displayName\" : \"lIlIlIlIlIlI\",\n
        \     \"clanName\" : \"\",\n      \"clanTag\" : \"\",\n      \"profilePath\"
        : \"/profile/2778732/1/lIlIlIlIlIlI/\"\n    },\n    \"joinTimestamp\" : 1373859935,\n
        \   \"points\" : 2352.0,\n    \"wins\" : 249,\n    \"losses\" : 101,\n    \"highestRank\"
        : 1,\n    \"previousRank\" : 11,\n    \"favoriteRaceP1\" : \"PROTOSS\"\n  },
        {\n    \"character\" : {\n      \"id\" : 902213,\n      \"realm\" : 1,\n      \"displayName\"
        : \"Suppy\",\n      \"clanName\" : \"Evil Geniuses\",\n      \"clanTag\" :
        \"EG\",\n      \"profilePath\" : \"/profile/902213/1/Suppy/\"\n    },\n    \"joinTimestamp\"
        : 1371798640,\n    \"points\" : 2207.0,\n    \"wins\" : 229,\n    \"losses\"
        : 145,\n    \"highestRank\" : 1,\n    \"previousRank\" : 2,\n    \"favoriteRaceP1\"
        : \"ZERG\"[...]
