---
http_interactions:
- request:
    method: get
    uri: http://us.battle.net/api/sc2/ladder/grandmaster
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{

        "ladderMembers" : [ {

        "character" : {

        "id" : 2778732,

        "realm" : 1,

        "displayName" : "lIlIlIlIlIlI",

        "clanName" : "",

        "clanTag" : "",

        "profilePath" : "/profile/2778732/1/lIlIlIlIlIlI/"

        },

        "joinTimestamp" : 1373859935,

        "points" : 2362.0,

        "wins" : 250,

        "losses" : 101,

        "highestRank" : 1,

        "previousRank" : 1,

        "favoriteRaceP1" : "PROTOSS"

        }, {

        "character" : {

        "id" : 902213,

        "realm" : 1,

        "displayName" : "Suppy",

        "clanName" : "Evil Geniuses",

        "clanTag" : "EG",

        "profilePath" : "/profile/902213/1/Suppy/"

        },

        "joinTimestamp" : 1371798640,

        "points" : 2207.0,

        "wins" : 229,

        "losses" : 145,

        "highestRank" : 1,

        "previousRank" : 2,

        "favoriteRaceP1" : "ZERG"

        }, {

        "character[...]
