---
http_interactions:
- request:
    method: get
    uri: https://us.battle.net/api/sc2/ladder/148200
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
        "ladderMembers" : [ {
        "character" : {
        "id" : 4135344,
        "realm" : 1,
        "displayName" : "CMStormPolt",
        "clanName" : "",
        "clanTag" : "",
        "profilePath" : "/profile/4135344/1/CMStormPolt/"
        },
        "joinTimestamp" : 1367996719,
        "points" : 2016.0,
        "wins" : 113,
        "losses" : 30,
        "highestRank" : 1,
        "previousRank" : 2,
        "favoriteRaceP1" : "TERRAN"
        }, {
        "character" : {
        "id" : 3152782,
        "realm" : 1,
        "displayName" : "Apocalypse",
        "clanName" : "IvDgaming",
        "clanTag" : "IvD",
        "profilePath" : "/profile/3152782/1/Apocalypse/"
        },
        "joinTimestamp" : 1369001397,
        "points" : 2011.0,
        "wins" : 145,
        "losses" : 49,
        "highestRank" : 1,
        "previousRank" : 3,
        "favoriteRaceP1" : "TERRAN"
        }, {
        "character" : {
   [...]
